@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BW";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/pokemon-bw.ttf);
}

#root {
  height: 100vh;
  width: 100vw;
  font-family: "BW";
  overflow: hidden;
}

html {
  background-color: #08b078;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* https://stackoverflow.com/questions/14068103 */
img {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  user-select: none;
  pointer-events: none;
}

#hexrow div div {
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
}

#hexlist div {
  clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #37836b;
  border: 6px solid #12553a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #99e800;
  border: 4px solid #518a16;
  border-radius: 4px;
}
